.loading-and-error-display {
    text-align: center;
}

.flight-list {
    margin: 30px 100px 30px 100px;
    font-family: sans-serif;
}

.flight-list h1 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.button-container:last-of-type {
    padding-top: 0;
}

.button-container button {
    color: #020D9F;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.date {
    background: #0c2645;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.flight-row-header {
    background-color: #e6e9ec;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    position: sticky;
    top: 0;
}

.flight-row-header div {
    font-size: 15px;
    font-weight: 500;
    color: #0D2644;
}

.flight-row-header :nth-child(2) {
    margin-left: 15px;
}

.flight-row-header :last-child {
    margin-left: auto;
}

.flight-card{
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background-color: #F1F4F5;
}

.flight-item {
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 25px 15px 25px 15px;
}

.flight-item:last-of-type {
    margin-bottom: 0;
}

.flight-time {
    padding-top: 2px;
    color: #0D2644;
    letter-spacing: 0.9px;

}

.flight-info {
    margin-left: 10px;
}

.flight-info h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #0D2644;
}

.flight-info p {
    color: #0D2644;
    margin-bottom: 0;
}

.flight-status div {
    padding: 7px 15px 7px 15px;
    font-size: 13px;
    color: white;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

.landed-status {
    background-color: green;
    text-align: center;
    border: 1px solid green;
    font-size: 20px;
}

.estimated-status {
    background-color: orange;
}

.cancelled-status {
    background-color: #D70036;
}

.flight-status {
    margin-left: auto;
}

.credits {
    margin-top: 50px;
    text-align: center;
    color: rgb(80, 80, 80);
    font-weight: 300;
}



@media screen and (max-width: 600px) {

    .flight-list {
        margin: 0;
    }

    .flight-status div{
        width: 20vw;
    }
}

@media screen and (min-width: 1300px) {
    .flight-list {
        margin: 30px 30% 10% 30%;
    }
}


